body{
  margin-top: 50px;
  background-color: black;
  color: white;
}

#banshee-beag {
    height: 200px;
    width: 200px;
    background-image: url('sprites/ghost.gif');
    display: flex;
    content: justify;
    align-items: center;
}

.inline-block-child {
  display: inline-block;
}