body{
  margin-top: 50px;
  background-color: black;
  color: white;
  font-family: itim;
}

#banshee-beag {
  position: relative;
  bottom: 650px;
}

.thought-bubble {
  position: relative;
  bottom: 230px;
}

.inline-block-child {
  display: inline-block;
}

.brown-border {
  border: 5px solid brown;
  padding: 20px;
  margin: 20px;
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: black;
}

.coin-img {
  display: inline;
  height: 100px;
  width: 100px;
}

p {
    font-size: 20px;
}

.skill {
    background-color: rgb(116, 194, 92);
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
}

.status-health {
    width: 500%;
}

.status-energy {
    width: 500%;
}

.status-hunger {
    width: 500%;
}

.status-thirst {
    width: 500%;
}

.status{
 display: grid;
 align-items: center;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 }

 h1{
 text-align: center;
 font-size: 80px;
 }

